# Programming for Data Analysis Project

**Problem statement**

create a data set by simulating a real-world phenomenon. Then,  model and synthesise data using Python by using
the `numpy.random` package.

**Guidelines**:
    
• Choose a real-world phenomenon that can be measured and for which you could
collect at least one-hundred data points across at least four different variables.

• Investigate the types of variables involved, their likely distributions, and their
relationships with each other.

• Synthesise/simulate a data set as closely matching their properties as possible.

• Detail your research and implement the simulation in a Jupyter notebook – them
data set itself can simply be displayed in an output cell within the notebook.

## Simulating Dublin Airport Passenger Movements in 2018

Dublin airport is the main airport in the Republic of Ireland. It was established 80 years ago. Dublin Airport officially opened at 9:00am on January 19, 1940. It was a cold Friday morning when the inaugural flight - an Aer Lingus Lockheed 14 bound for Liverpool - departed from Collinstown Airport, as it was then known.

In this assignment, I will analyse some profile of passengers that were using the airport in 2018 within one hour time frame.

Number of passengers per year: 31.5 million in 2018 [1]

Average hourly passengers calculated by dividing 31.5 (million) / 364 (days, closed for Chrismas day) which gives us 86,5 (Thousands) passengers daily on average.

Hourly Passenger Rate = 31.5 (millions) / 364 (days, closed for Chrismas day)  / 24 (hours).

Hourly Passenger Rate = 3605 

We can anticipate that there was one passenger using the airport each second.

## Importing Packages:

In [30]:
# importing numerical library
import numpy as np

rng = np.random.default_rng()

# importing library to generate data frames
import pandas as pd

# importing libraries for visualisation
import matplotlib.pyplot as plt
import seaborn as sns

# for interactive and inline rendered plots, we use the magic command
%matplotlib inline

# Better sized plots.
plt.rcParams['figure.figsize'] = (12, 8)

# Nicer colours and styles for plots.
plt.style.use("ggplot")

### Creating the first array in the data set which represents a **DateTime** for an hour in 2018 :

In [2]:
# importing datetime function from pandas
# https://pandas.pydata.org/docs/user_guide/timeseries.html#timeseries
import datetime

dti = pd.to_datetime(["06/11/2018", np.datetime64('2018-11-06'), datetime.datetime(2018, 11, 6)])

DateTime = pd.date_range("2018/11/06", periods = 3600 , freq = "S")

In [3]:
DateTime

DatetimeIndex(['2018-11-06 00:00:00', '2018-11-06 00:00:01',
               '2018-11-06 00:00:02', '2018-11-06 00:00:03',
               '2018-11-06 00:00:04', '2018-11-06 00:00:05',
               '2018-11-06 00:00:06', '2018-11-06 00:00:07',
               '2018-11-06 00:00:08', '2018-11-06 00:00:09',
               ...
               '2018-11-06 00:59:50', '2018-11-06 00:59:51',
               '2018-11-06 00:59:52', '2018-11-06 00:59:53',
               '2018-11-06 00:59:54', '2018-11-06 00:59:55',
               '2018-11-06 00:59:56', '2018-11-06 00:59:57',
               '2018-11-06 00:59:58', '2018-11-06 00:59:59'],
              dtype='datetime64[ns]', length=3600, freq='S')

***
<br>

### **Gender** :

Representaion of gender of the passengers as was reported:

- __51% Male__

- __49% Female__ [2]

In [4]:
genders = ("male", "female")

p = (0.51, 0.49)

Gender = rng.choice(genders, size = 3600, p = p)

In [29]:
print("Gender Array is:", Gender)

Gender Array is: ['female' 'male' 'female' ... 'female' 'female' 'male']

***
<br>

## Age :

People of all ages pass through our doors here at Dublin Airport.

- __15%__ of our passengers are __`< 25`__

- __54%__ are between the ages of __`25-49`__

- __30%__ are aged 50 or older __`> 50`__ [2]

_Note: The total percentage doesn't mathematically correspond to 100% rate, so, there has been an adjustment on 25-49 age group which was reported to be 54%, new value assigned 55%_.

In [43]:
age_ranges = ("< 25", "25-49", "> 50")

p = (0.15, 0.55, 0.30)

Age = rng.choice(age_ranges, size = 3600, p = p)
print ("Age Array is:", Age)

Age Array is: ['25-49' '25-49' '25-49' ... '25-49' '25-49' '25-49']

### **Country of Residence** :

#### Generating the `Country of Residence`  array


People from all over the world visit Dublin Airport

- __48%__ of our passengers call the Republic of Ireland their home __(IE)__

- __18%__ arrive on our shores from the UK (including NI) __(UK / NI)__

- __17%__ visit us from Continental Europe __(EUP)__

- __16%__ come from North American destinations __(N-AMR)__

- __1%__ come from the Rest of the World __(RoW)__ [2]

In [44]:
# Country of Residence: CoR

CoR = ("IE", "UK/NI", "EUP", "N-AMR", "RoW")
p = (0.48, 0.18, 0.17, 0.16, 0.01)

CoR = rng.choice(CoR, size = 3600, p = p)

In [45]:
CoR

array(['UK/NI', 'IE', 'IE', ..., 'EUP', 'EUP', 'IE'], dtype='<U5')

***
<br>

### Socio-Economic Class:

- ABC1s __71%__

- C2DEs __29%__

- Farmers __1%__ [2]

_Note: The total percentage doesn't mathematically correspond to 100% rate, so, there has been an adjustment on the ABC1s which was reported to be 71%,, new value assigned 70%_.

In [46]:
# Socio-Economic Class : SEC

SEC = ("ABC1s", "C2DEs", "Farmers")
p = (0.70, 0.29, 0.01)

SEC = rng.choice(SEC, size = 3600, p = p)

### Generating The Data Frame

In [47]:
df = pd.DataFrame({"DateTime" : DateTime, "Gender" : Gender, "Age" : Age, "CoR" : CoR, "SEC" : SEC})

In [48]:
df

                DateTime  Gender    Age    CoR    SEC
0    2018-11-06 00:00:00  female  25-49  UK/NI  ABC1s
1    2018-11-06 00:00:01    male  25-49     IE  ABC1s
2    2018-11-06 00:00:02  female  25-49     IE  ABC1s
3    2018-11-06 00:00:03    male  25-49     IE  ABC1s
4    2018-11-06 00:00:04    male  25-49     IE  ABC1s
...                  ...     ...    ...    ...    ...
3595 2018-11-06 00:59:55  female   > 50     IE  ABC1s
3596 2018-11-06 00:59:56    male   < 25     IE  C2DEs
3597 2018-11-06 00:59:57  female  25-49    EUP  C2DEs
3598 2018-11-06 00:59:58  female  25-49    EUP  ABC1s
3599 2018-11-06 00:59:59    male  25-49     IE  C2DEs

[3600 rows x 5 columns]

In [18]:
df.transpose()

,0,1,2,3,4,5,6,7,8,9,...,3590,3591,3592,3593,3594,3595,3596,3597,3598,3599
DateTime,2018-11-06 00:00:00,2018-11-06 00:00:01,2018-11-06 00:00:02,2018-11-06 00:00:03,2018-11-06 00:00:04,2018-11-06 00:00:05,2018-11-06 00:00:06,2018-11-06 00:00:07,2018-11-06 00:00:08,2018-11-06 00:00:09,...,2018-11-06 00:59:50,2018-11-06 00:59:51,2018-11-06 00:59:52,2018-11-06 00:59:53,2018-11-06 00:59:54,2018-11-06 00:59:55,2018-11-06 00:59:56,2018-11-06 00:59:57,2018-11-06 00:59:58,2018-11-06 00:59:59
Gender,female,male,female,male,male,female,male,female,female,female,...,male,female,female,female,female,female,male,female,female,male
Age,25-49,older_than_50,25-49,older_than_50,25-49,25-49,older_than_50,25-49,older_than_50,under_25,...,25-49,under_25,25-49,25-49,under_25,older_than_50,25-49,25-49,older_than_50,25-49
CoR,IE,EUP,EUP,UK/NI,IE,IE,IE,N-AMR,IE,IE,...,IE,EUP,IE,N-AMR,IE,UK/NI,N-AMR,IE,IE,IE
SEC,ABC1s,ABC1s,C2DEs,ABC1s,ABC1s,C2DEs,C2DEs,ABC1s,Farmers,ABC1s,...,ABC1s,C2DEs,C2DEs,C2DEs,ABC1s,ABC1s,ABC1s,ABC1s,ABC1s,C2DEs

In [19]:
df.head()

             DateTime  Gender            Age    CoR    SEC
0 2018-11-06 00:00:00  female          25-49     IE  ABC1s
1 2018-11-06 00:00:01    male  older_than_50    EUP  ABC1s
2 2018-11-06 00:00:02  female          25-49    EUP  C2DEs
3 2018-11-06 00:00:03    male  older_than_50  UK/NI  ABC1s
4 2018-11-06 00:00:04    male          25-49     IE  ABC1s

In [20]:
df.describe()

                   DateTime Gender    Age   CoR    SEC
count                  3600   3600   3600  3600   3600
unique                 3600      2      3     5      3
top     2018-11-06 00:02:00   male  25-49    IE  ABC1s
freq                      1   1837   2077  1692   2495
first   2018-11-06 00:00:00    NaN    NaN   NaN    NaN
last    2018-11-06 00:59:59    NaN    NaN   NaN    NaN

In [21]:
df.mean

<bound method DataFrame.mean of                 DateTime  Gender            Age    CoR    SEC
0    2018-11-06 00:00:00  female          25-49     IE  ABC1s
1    2018-11-06 00:00:01    male  older_than_50    EUP  ABC1s
2    2018-11-06 00:00:02  female          25-49    EUP  C2DEs
3    2018-11-06 00:00:03    male  older_than_50  UK/NI  ABC1s
4    2018-11-06 00:00:04    male          25-49     IE  ABC1s
...                  ...     ...            ...    ...    ...
3595 2018-11-06 00:59:55  female  older_than_50  UK/NI  ABC1s
3596 2018-11-06 00:59:56    male          25-49  N-AMR  ABC1s
3597 2018-11-06 00:59:57  female          25-49     IE  ABC1s
3598 2018-11-06 00:59:58  female  older_than_50     IE  ABC1s
3599 2018-11-06 00:59:59    male          25-49     IE  C2DEs

[3600 rows x 5 columns]>

## References:

[1] Dublin Airport; Facts and Figures: https://www.dublinairport.com/corporate/about-us/facts-and-figures

[2] Dublin Airport; Passenger Profile: https://www.dublinairport.com/corporate/about-us/passenger-profile

[3] caktusgroup: https://www.caktusgroup.com/blog/2020/04/15/quick-guide-generating-fake-data-with-pandas/